<% provide(:title, 'Messages') %>

<div class="row">
	<%= render 'messages/nav' %>
	
	<div class="col-md-9">		
		<table class="table">
			<thead>
				<th>Sent</th><th>From</th><th>Message</th><th></th><th></th>
			</thead>	
			<% @messages.each do |message| %>
				<tr>
					<%= content_tag(:td, time_ago_in_words(message.created_at) + ' ago')  %>
					<%= content_tag(:td, message.sender.name) %>
					<%= content_tag(:td, shorten(message.content, 40)) %>
					<%= content_tag(:td, link_to("read", message)) %>	
					<%= content_tag(:td, link_to("delete", message, method: :delete, data: { confirm: 'Are you sure?' })) %>
				</tr>
			<% end %>
		</table>
	</div>
</div>