<% provide(:title, "Edit user") %>

<h1>Update your profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<!-- Rails will generate a form with hidden PATCH method. It knows to use 
PATCH instead of POST by calling new_record? -->
	<%= form_for(@user) do |f| %>
		<!-- Ex 9.6.5 Passing argument f as a local variable -->
		<%= render 'form_fields', f: f %>
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>
		<%= gravatar_for @user %>
		<%= link_to 'change', 'http://gravatar.com/emails', { target: '_blank' } %>
	</div>
</div>