<% provide(:title, @title) %>

<div class='row'>

  <aside class='col-md-4'>

    <section>
      <%= render 'shared/user_info', user: @user %>
    </section>

    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class='user_avatars'>
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>

  </aside>

  <div class='col-md-8'>
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class='users'>
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>

</div>
